---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import FormattedDate from './/FormattedDate.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const tags: string[] = [];

  allPosts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      tags.push(tag.toLowerCase());
    });
  });

  return Array.from(new Set(tags)).map((tag) => {
    return {
      params: { tag },
      props: {
        posts: allPosts.filter((post) =>
          post.data.tags.map((tag) => tag.toLowerCase()).includes(tag),
        ),
      },
    };
  });
}

interface Props {
  tag: string;
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
const { tag } = Astro.params;
---
{
        posts.map((post) => (
<li
class="flex max-w-xl flex-col items-start justify-between border-b border-gray-200 pb-6">

<div class="group relative w-100 block">
    <div class="w-100">
        <a href={`/blog/${post.slug}/`}> 
        <Image 
            src={post.data.heroImage !} 
            width={600}
            height={200} 
            format='webp'
            class='h-full min-w-full object-cover hover:scale-[102%] transition-all duration-200 rounded-[8px] shadow-xl'
            alt={`img of ${post.data.title}`} 
        /> 
        </a>
    </div>
    <h2>
        <a href={`/blog/${post.slug}/`} class="no-underline"> {post.data.title} </a> </h2> <div
            class="flex items-center gap-x-4 text-xs">
            <FormattedDate date={post.data.pubDate} />
</div>

<p class="mt-5 line-clamp-3 leading-6 text-gray-600">{post.data.description}</p>
</div>
</li>
        ))
    }